src/*.exe
src/giftcoin
src/giftcoind
src/test_litecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.giftcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
giftcoin-qt
giftcoin-Qt.app

# Unit-tests
Makefile.test
giftcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
